<section class='auth-form'>

  <!-- USER LOGIN BLOCK START-->
  <div class="form-group">
    <label for='user-login'>Login</label>
    <input type=text id=user-login>
  </div>
    <!-- USER LOGIN BLOCK END-->

  <!-- USER PASSWORD BLOCK END-->
  <div class="form-group">
    <label for='password'>Password</label>
    <input type=password id=user-password>
  </div>
  <!-- USER PASSWORD BLOCK END-->

  <!-- CONTROLL BUTTONS BLOCK START-->
  <div class='buttons-container'>
    <button class='app-btn-success'>Log in</button>
    <button class='app-btn-success'>Sign Up</button>
  </div>
  <!-- CONTROLL BUTTONS BLOCK END-->

</section>