@import "./colors.scss";

@mixin background-linear ($color) {
  $maped-color: map-get($btn-color-basis, $color); 
  background: linear-gradient(to bottom, $maped-color, darken($maped-color, 20%));
}

@mixin background-radial ($color) {
  $maped-color: map-get($btn-color-basis, $color); 
  background: radial-gradient($maped-color, darken($maped-color, 20%));
}


.background-success {
  @include background-linear("color-success");
}

.background-info {
  @include background-linear("color-info");
}

.background-cancel {
  @include background-linear("color-cancel");
}

.background-alt {
  @include background-linear("color-alt");
}

.background-menu {
  @include background-linear("color-menu");
}

.background-text {
  @include background-linear("color-text");
}

// "color-success": #3ec576,
// "color-info": #ffff00,
// "color-cancel": #d63c21,
// "color-alt": #5f5d5f,
// "color-menu": #613cc5,