@import "./colors.scss";

@mixin border-basis() {
  border: none;
  outline: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

@mixin border($color) {
  @include border-basis();
  $maped-color: map-get($btn-color-basis, $color);

  box-shadow: 0 0 0 2px darken($maped-color, 20%);
  box-shadow: inset 0 0 0 2px darken($maped-color, 20%);
}

@mixin border-active($color) {
  @include border-basis();
  $maped-color: map-get($btn-color-basis, $color);

  box-shadow: inset 0 2px 2px 4px darken($maped-color, 20%);
}


.border-success {
  @include border("color-success");
}

.border-success-active {
  @include border-active("color-success");
}


.border-info {
  @include border("color-info");
}

.border-info-active {
  @include border-active("color-info");
}


.border-cancel {
  @include border("color-cancel");
}

.border-cancel-active {
  @include border-active("color-cancel");
}


.border-alt {
  @include border("color-alt");
}

.border-alt-active {
  @include border-active("color-alt");
}


.border-menu {
  @include border("color-menu");
}

.border-menu-active {
  @include border-active("color-menu");
}


.border-text {
  @include border("color-text");
}

.border-text-active {
  @include border-active("color-text");
}
