@import url('https://fonts.googleapis.com/css?family=Cormorant+Infant&display=swap');

.text {
  font-family: 'Cormorant Infant', serif;
}

.text-important {
  @extend .text;
  font-weight: bolder;
  text-shadow: 0px 0px 1px black;
}

.text-button {
  @extend .text;
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 1em rgb(187, 78, 78);
}