<section class = 'auth-form'>
        <label for = 'user-login'>Login</label>
        <input type = text id = user-login>
        <label for = 'user-email'>E-mail</label>
        <input type = email id = user-email>
        <label for = 'password'>Password</label>
        <input type = password id = user-password>
        <label for = 'confirm-password'>Confirm password</label>
        <input type = password id = user-confirm-password>
        <div class='buttons-container'>
            <button class='app-btn-success'>Log in</button>
            <button class='app-btn-success'>Sign Up</button>
        </div>
    </section>>