<section class='char-profile'>
  <header class='char-profile-header'>
    <span class='char-name'>Idone</span>
    <span class='char-lvl'>LVL 1</span>
  </header>

  <section class='char-info'>
    <div class='char-avatar'></div>
    <aside class=char-summary>
      <div class='char-status'>
        <div class='char-health-bar'>100HP</div>
        <div class='char-energy-bar'>100EP</div>
      </div>
      <div class='char-money'>  
        <span class='char-money-name'>Gold:</span>
        <span class='char-money-amount'>234</span>
        <span class='char-money-name'>Diamonds:</span>
        <span class='char-money-amount'>2</span>
      </div>
    </aside>
  </section>
  
  <section class='char-stats'>
    <span class='char-stats-caption'>STR</span>
    <span class='char-stats-caption'>INT</span>
    <span class='char-stats-caption'>STM</span>
    <span class='char-stats-caption'>AGL</span>
    
    <span class='char-stats-amount'>10</span>
    <span class='char-stats-amount'>10</span>
    <span class='char-stats-amount'>10</span>
    <span class='char-stats-amount'>10</span>

    <button class='char-stats-upgrade' type="button">+</button>
    <button class='char-stats-upgrade' type="button">+</button>
    <button class='char-stats-upgrade' type="button">+</button>
    <button class='char-stats-upgrade' type="button">+</button>
  </section>
  <div class='char-exp-bar'>
    <div class='char-exp'>1</div>
  </div>
</section>
