@import '../../styles/base_gui/blocks.scss';
@import '../../styles/base_gui/borders.scss';
@import '../../styles/base_gui/text.scss';

.game-menu {
    @extend .block-alt;



    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0%;
    padding: 2px 0px;

    .app-btn-menu {
        line-height: 10px;
        font-size: 10px;
    }

    .app-btn-menu:hover,
    .app-btn-menu:focus {
        filter: brightness(1.3);
    }

    .menu-group {
        display: flex;
        max-width: 30%;
    }
}

